<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcUW4ElCJU63D84IGGA2eOEOtXqgrxdvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786654725989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.savvyBee</string>
	<key>PROJECT_ID</key>
	<string>final-try-b14cc</string>
	<key>STORAGE_BUCKET</key>
	<string>final-try-b14cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786654725989:ios:fbc1159124f1bc11b2838c</string>
</dict>
</plist>